{% extends 'adminindex.html' %}

{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Branches</h4>
        <!-- <p class="card-description"> Basic form elements </p> -->
        {% for i in obj %}
        <form class="forms-sample" method="post" action="{% url 'edit_branches' id=i.id %}" enctype="multipart/form-data">
                  {% csrf_token %}

          <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input value="{{i.name}}" type="text" class="form-control" id="exampleInputName1" name="name" placeholder="Name">
          </div>

          <div class="form-group">
            <label>Upload Image</label>
            <input type="file" name="imgae" class="file-upload-default">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleTextarea1">Description</label>
            <textarea class="form-control" id="exampleTextarea1"  name="description" rows="4">{{i.description}}</textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}